<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webgl2学习Demo</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .demo-list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 20px;
            padding: 20px 10px;
        }
    </style>
</head>

<body>
    <div class="demo-list">
        <a href="./01.html">triangle</a>
        <a href="./02.html">single rectangle</a>
        <a href="./03.html">radom rectangle</a>
    </div>
</body>

</html>